body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: radial-gradient(#ffffff 5%, transparent 10%);
  background-color: #ded6d5;
  background-position: 0 0;
  background-size: 30px 30px;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {

  padding: 10px 10px;
}

.heading{
  font-family: 'Shadows Into Light', cursive;
  font-size: 150%;
}
.form{
  margin-left: 10%;
  font-family: 'Shadows Into Light', cursive;
  font-size: 120%;

}
input,textarea{
  background:transparent;
  outline: none;
  border: 0px;
  margin-left: 2%;
  border-bottom: 1px solid black;
}
