body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: radial-gradient(#ffffff 5%, transparent 10%);
  background-color: #ded6d5;
  background-position: 0 0;
  background-size: 30px 30px;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {

  padding: 10px 10px;
}

.heading{
  font-family: 'Shadows Into Light', cursive;
  font-size: 150%;
}
.form{
  display: flex;
  justify-content: center;
  margin-left: auto;
  width: 40%;
  font-family: 'Shadows Into Light', cursive;
  font-size: 120%;
  border: 4px double black;
  padding: 2em 2em;
  background-color:#ebedeb;

}
input,textarea{
  display: flex;
  justify-content: center;
  background:transparent;
  outline: none;
  border: 0px;
  margin-left: 1%;
  border-bottom: 1px solid black;
}


h1 {
  display: flex;
  justify-content: center;
  font-family: "Amatic SC", cursive;
  font-size: 500%;
  margin-left: auto;


}

.tab{
  margin: 2em;
  padding: 1em;
  border: 2px solid black;
  background:
}
